:root {
  font-size: 10px;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  text-align: center;
  margin-bottom: 5rem;
}
header h1 {
  font-size: 4rem;
}
header span {
  font-size: 1.6rem;
}
.figure-container {
  display: flex;
  justify-content: center;
}
.figure-container button {
  margin: 1rem;
  border-radius: 4px;
  background-color: #eee;
  transition: all 0.05s ease-in-out;
}
.figure-container button:hover {
  outline: solid 5px lightgreen;
}
.figure-container button:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
.figure-container button figure {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 200px;
  width: 150px;
}
.figure-container button figure figcaption {
  font-size: 2.2rem;
  font-weight: 700;
  text-align: center;
}
#tags {
  display: flex;
  flex-wrap: wrap;
  row-gap: 0.5rem;
  margin: 2rem 4rem;
}
#tags span {
  display: inline-block;
  color: #333;
  background-color: #ddd;
  font-size: 1.6rem;
  padding: 0.3rem 1rem;
  border-radius: 3px;
  margin-right: 0.4rem;
}
.controls {
  margin-top: 6rem;
  text-align: center;
  font-size: 1.6rem;
}
